BinaryClassification/SharkTest.cpp 
graphcut/gco-v3.0/GCO_README.TXT
Thumbs.db
SuperPixel/SLICSuperpixels/SLICSuperpixels.rc
SuperPixel/SLICSuperpixels/SLICSuperpixels.vcproj
SuperPixel/SLICSuperpixels/SLICSuperpixels.vcproj.LENOVO-73CDB26E.RK.user
SuperPixel/SLICSuperpixels/SLICSuperpixelsDlg.cpp
SuperPixel/SLICSuperpixels/SLICSuperpixelsDlg.h
SuperPixel/SLICSuperpixels/res/
SuperPixel/SLICSuperpixels/resource.h
SuperPixel/SLICSuperpixels/stdafx.cpp
SuperPixel/SLICSuperpixels/stdafx.h
